<!DOCTYPE html>
<html lang="en" ng-app="longshot">
<head>
    <meta charset="utf-8">
    <title>Longshot!</title>
    <link rel="stylesheet" href="lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="lib/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="lib/css/hotkey.min.css">
    <link rel="stylesheet" href="css/game.css">
    <script src="lib/js/jquery.min.js"></script>
    <script src="lib/js/bootstrap.min.js"></script>
    <script src="lib/js/underscore-min.js"></script>
    <script src="lib/js/angular.min.js"></script>
    <script src="lib/js/angular-resource.min.js"></script>
    <script src="lib/js/hotkey.min.js"></script>
    <script src="lib/js/ui-bootstrap-tpls.min.js"></script>
    <meta name="google-signin-scope" content="profile">
    <meta name="google-signin-client_id" content="405402394589-f20c532e75fn33c541jfbu5ta179bko4.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js"></script>
    <script src="js/longshot.js"></script>
    <script src="js/stage.js"></script>
</head>
<body ng-controller="stage">
<div class="stageDiv full" ng-show="!loginFailed">
    <script type="text/ng-template" id="removeStageModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Remover sala</h3>
        </div>
        <div class="modal-body">
            <p>Tem certeza que deseja remover permanentemente a sala {{stage.name}}?<br>
            Os prêmios conquistados e estatísticas de tiro não serão afetadas.</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="cancel()">Cancelar remoção</button>
            <button class="btn btn-danger pull-right" type="button" ng-click="ok()">Remover</button>
            <div class="clearfix"></div>
        </div>
    </script>
    <nav class="navbar navbar-default navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand" href="#">Longshot!</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#" ng-click="showOpenStages()">Salas Abertas</span></a>
                    </li>
                    <li>
                        <a href="#" ng-click="showUserStages()">Suas Salas</span></a>
                    </li>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <p class="navbar-text">{{username}}</p>
                        </li>
                        <li>
                            <p href="#" class="navbar-text navbar-link" ng-click="logoff()">Sair</p>
                        </li>
                    </ul>
                </ul>
            </div>
        </div>
    </nav>
    <div class="col-lg-12 userStageDiv" style="display: none">
        <h1>Suas Salas</h1>
        <div>
            <div class="col-md-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <span ng-if="userStages.length <= 0">Nenhuma sala aberta.</span>

                        <div class="list-group">
                            <a href="#" class="list-group-item" ng-repeat="stage in userStages"
                               ng-click="selectStage($index);">{{stage.name}}</a>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <span ng-click="newStage()" class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        <span class="primary"> Adicionar sala </span>
                    </div>
                </div>
            </div>
            <div class="col-md-10"
                 ng-show="isStageSelected()">
                <div class="panel panel-default">

                    <div class="panel-body">
                        <div class="form-group">
                            <label for="stageDescriptionForm">Nome da sala</label>
                            <input id="stageDescriptionForm" class="form-control" type="text"
                                   ng-model="selectedStage.name"/>
                            <label for="stagePlayersNumberForm">Quantidade de jogadores</label>
                            <input id="stagePlayersNumberForm" class="form-control" type="number"
                                   ng-model="selectedStage.playersNumber"/>
                        </div>
                    </div>

                    <div class="panel-footer">
                        <button ng-click="saveStage()" type="submit" class="btn btn-default btn-primary">Salvar alterações</button>
                        <button ng-show="selectedStage.id != undefined" ng-click="playStage()" type="submit" class="btn btn-default btn-success">Jogar</button>
                        <button ng-click="removeStage()" type="submit" class="pull-right btn btn-default btn-danger">Remover</button>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12 openStageDiv">
        <h1>Salas Abertas</h1>

        <div>
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <span ng-if="openStages.length <= 0">Nenhuma sala criada.</span>
                        <div ng-if="openStages.length > 0">
                            <table class="table">
                                <tr>
                                    <th>Nome</th>
                                    <th>Criador</th>
                                    <th></th>
                                </tr>
                                <tr ng-repeat="stage in openStages">
                                    <td>{{stage.name}}</td>
                                    <td>{{stage.creatorName}}</td>
                                    <td><button ng-click="playStage(stage)" type="submit" class="btn btn-default btn-success">Jogar</button></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="messages text-right col-md-4" style="white-space: pre;">
        <!-- TODO: Refactor this area -->
        <span class="label label-info" ng-show="hasInfoMessage()">{{infoMessage}} <span ng-click="clearMessages()"
                                                                                        class="glyphicon glyphicon-remove"
                                                                                        aria-hidden="true"></span></span>
        <span class="label label-danger" ng-show="hasErrorMessage()">{{errorMessage}} <span ng-click="clearMessages()"
                                                                                            class="glyphicon glyphicon-remove"
                                                                                            aria-hidden="true"></span></span>
        <span class="label label-success" ng-show="hasSuccessMessage()">{{successMessage}} <span
                ng-click="clearMessages()" class="glyphicon glyphicon-remove" aria-hidden="true"></span></span>
    </div>
</div>
</body>
</html>
